<div class="container">
    <div class="card " >
            <div class="card-header bg-danger text-white">Clan: {{club.name}}</div>
            <div class="card-body">
                <h4 >Tag: <span class="badge badge-danger">{{club.tag}}  </span></h4>
                <h4 >Trofeos: <span class="badge badge-danger">{{club.trophies}}  </span></h4>
                <h4 >Trofeos requeridos: <span class="badge badge-danger">{{club.requiredTrophies}}</span></h4>
                <div class="md-form">
                    <textarea class="md-textarea form-control" rows="3" disabled>{{club.description}}</textarea>
                  </div>
             <br>
             <h4>Miembros: </h4>
             <app-paginacion [club]='club'>
             </app-paginacion>
        </div>   
      </div>
</div>
