<div class="container">
    <div class="card " >
            <div class="card-header bg-primary text-white">Nombre: {{jugador.name}}</div>
            <div class="card-body">
              <h4 >Tag: <span class="badge badge-primary">{{jugador.tag}} </span></h4>
              <h4 >Cantidad de trofeos: <span class="badge badge-primary">{{jugador.trophies}}</span></h4>
              <h4 >Victorias Individuales: <span class="badge badge-primary">{{jugador.soloVictories}}</span></h4>
              <h4 >Victorias en DUO: <span class="badge badge-primary">{{jugador.duoVictories}}</span></h4>
              <h4 >Victorias en TRIO: <span class="badge badge-primary">{{jugador['3vs3Victories']}}</span></h4>
              <br> <br>
        </div>   
      </div>
</div>