
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Rol</th>
        </tr>
    </thead>
<tbody>
    <tr *ngFor = "let miembro of club.members | paginate:{itemsPerPage: 5, currentPage: p}">
    <td>
        <button class="btn btn-danger btn-sm" style="width: 80%" href="#" (click)="buscarMiembro(miembro.tag)"> {{miembro.name}} </button>
    </td> 
    <td>{{miembro.role}}</td>
</tr>
</tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>


