<div class="container">
    
    <div class="row">
        <div class="col-md-6">
          <h4><label class="badge badge-primary">Ingrese el Tag de jugador</label></h4>
          <input (keyUp.enter) ="buscarJugador(entrada1)" class=" form-control " type="text" #entrada1 > 
        <br><br>
        <app-jugador *ngIf="jugador" [jugador]='jugador'>
        </app-jugador>
        </div>
  
        <div class="col-md-6">
          <h4><label for=""class="badge badge-danger">Ingrese el Tag Club</label></h4>
          <input (keyUp.enter) ="buscarClub(entrada2)" class=" form-control " type="text" #entrada2 > 
          <br><br>
        <app-club [club]='club' *ngIf="club" (miembro)="buscarMiembro($event)">
        </app-club>
        </div>
    </div>
  </div>
